<!DOCTYPE html>
<html>
<head>
    <title>注册</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <script>
        $(function () {//这行代码的$和JQuary有关
            var $username = $("#username_input"); //等号右边参数是为了找到html中的id
            var $pwd2 = $("#pwd2");
            var $phone = $("#phone");
            $username.change(function () {//username改变  事件
                var username = $username.val().trim();//拿到$username的值，trim去掉空格
                //如果有长度，就准备发送给服务器预校验
                if (username.length) {
                    $.getJSON('/retailer/checkuser', {'username': username}, function (data) {
                        // 等上边的callback返回回调函数了，再执行这个代码块里边的代码
                        var $username_info = $("#username_info");
                        if (data['status'] === 200) {
                            //console.log('success');
                            //设置$username_info所在标签的内容和css样式
                            $username_info.html("用户名可用").css("color", 'green');
                        }
                        if (data['status'] === 901) {
                            $username_info.html("用户名存在").css("color", 'red');
                        }
                        if (data['status'] === 902) {
                            $username_info.html("用户名长度不超过8").css("color", 'red');
                        }
                    })
                }
            })


            $phone.change(function () {//phone改变  事件
                var phone = $phone.val().trim();//拿到$username的值，trim去掉空格
                //如果有长度，就准备发送给服务器预校验
                if (phone.length) {
                    $.getJSON('/retailer/checkphone', {'phone': phone}, function (data) {
                        // 等上边的callback返回回调函数了，再执行这个代码块里边的代码
                        var $phone_info = $("#phone_info");
                        if (data['status'] === 200) {
                            //console.log('success');
                            //设置$phone_info所在标签的内容和css样式
                            $phone_info.html("这个时候可以发送验证码了|但是我还没写......").css("color", 'green');
                        }
                        if (data['status'] === 901) {
                            $phone_info.html("该号码已注册过用户").css("color", 'red');
                        }
                        if (data['status'] === 902) {
                            $phone_info.html("号码格式错误").css("color", 'red');
                        }
                    })
                }
            })

            $pwd2.change(function () {//pwd2改变  事件
                var pwd1 = document.getElementById("pwd1").value;
                var pwd2 = document.getElementById("pwd2").value;
                if(pwd1.length<6){
                    //alert("密码长度要在6-16位之间");
                    $("#pwd_info").html("密码长度要在6-16位之间！").css("color", 'red');
                    return;
                }
                if(pwd1 !== pwd2){
                    $("#pwd_info").html("两次输入密码不一致！").css("color", 'red');
                }else {
                    $("#pwd_info").html("密码一致").css("color", 'green');
                }
            })
        })


        function check() {//这个是提交表单时候检查事件
            var info_color = $("#username_info").css('color');
            var pwdcheck_color = $("#pwd_info").css('color');
            var phonecheck_color = $("#phone_info").css('color');
            if(info_color === "rgb(255,0,0)"){
                return false;
            }
            if(pwdcheck_color === "rgb(255,0,0)"){
                return false;
            }
            if(phonecheck_color === "rgb(255,0,0)"){
                return false;
            }
            return ture;
        }
    </script>
    <style>
        .border {
            display: inline-block;
            width: 400px;
            height: 525px;
            margin: 6px;
        }

        a:hover {
            text-decoration: none;
        }
    </style>
</head>

<body>
<div class="container" style="margin-left: 600px;margin-top: 100px;">
    <span class="border">
      <div class="container" style="width: 400px;padding: 10px;">
        <form method="post" action="{% url 'retailer:register' %}" enctype="multipart/form-data" onsubmit="return check()">{% csrf_token %}
          <div class="form-group">
            <label for="username_input">用户名:</label>
            <input name="username" type="text" class="form-control" id="username_input" placeholder="Enter username">
              <span id="username_info" style = "font-size: x-small"></span>
          </div>
          <div class="form-group">
            <label for="pwd1">密码:</label>
            <input name="pwd1" type="password" class="form-control" id="pwd1" placeholder="Enter password">
          </div>
          <div class="form-group">
            <label for="pwd2">确认密码:</label>
            <input type="password" class="form-control" id="pwd2" placeholder="Check password">
              <span id="pwd_info" style = "font-size: x-small"></span>
          </div>
          <div class="form-group">
            <label for="phone">手机号码:</label>
            <input name="phone" type="text" class="form-control" id="phone" placeholder="Enter phone">
              <span id="phone_info" style = "font-size: x-small"></span>
          </div>
          <div class="form-check">
            <a href="{% url "retailer:login" %}">已有账号</a>
          </div>
          <button type="submit" class="btn btn-primary">注册</button>
        </form>
      </div>
    </span>
</div>
</body>

</html>